<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <meta http-equiv="Content-Security-Policy" content="default-src *; img-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval'">

    <title>croooober browser</title>

    <link rel="stylesheet" href="lib/onsen/css/onsenui.css">
    <link rel="stylesheet" href="lib/onsen/css/onsen-css-components-blue-basic-theme.css">
    <link rel="stylesheet" href="css/item.css" />
    <link rel="stylesheet" href="css/list.css" />

    <script src="lib/onsen/js/angular/angular.js"></script>
    <script src="lib/onsen/js/angular/checklist-model.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>

    <script src="jquery-mobile/jquery-1.11.3.min.js" type="text/javascript"></script>|

    <script type="text/javascript" src="js/DomParserExtention.js"></script>
    <script src="js/commonFunctions.js"></script>
    <script src="js/storageManager.js"></script>
    <script src="js/getCrooooberData.js"></script>

    <script src="cordova.js"></script>
    <script src="js/app.js"></script>
    <script>
        ons.ready(function() {
            // onsen ready 
            //storage_manager = new StorageManager("SOFTCREAM_COLLECTION_LIST");

            //console.log("platform: " + window.device.platform);

            storageManager = new StorageManager();



        });
    </script>

    <style>
    .label_area{
        width: 30%;
        overflow: hidden;
    }
    </style>
</head>

<body>

    <ons-navigator var="myNavigator" page="main.html"></ons-navigator>

<!-- スライドメニュー
<ons-sliding-menu var="menu" main-page="index.html" menu-page="menu.html" side="left" close-on-tap></ons-sliding-menu>

<ons-template id="index.html">
    <ons-navigator var="myNavigator" page="main.html"></ons-navigator>
</ons-template>

<ons-template id="menu.html">
  <ons-page>
    <h3>menu</h3>
    <ons-list>
        <ons-list-item modifier="chevron" onclick="menu.setMainPage('index.html', {closeMenu: true})">
          <i class="ion-ios-home"></i> ホーム
        </ons-list-item>
        <ons-list-item modifier="chevron" onclick="menu.setMainPage('favorite.html', {closeMenu: true})">
          <i class="ion-android-star"></i> お気に入り
        </ons-list-item>
        <ons-list-item modifier="chevron" onclick="menu.setMainPage('favorite.html', {closeMenu: true})">
          <i class="ion-ios-search-strong"></i> 保存した検索条件
        </ons-list-item>
      </ons-list>
  </ons-page>
</ons-template>
-->

<!-- main画面　index > main -->
<ons-template id="main.html">
    <ons-page ng-controller="MainController" id="main">

        <ons-toolbar>
            <div class="left"><ons-back-button style="visibility:hidden"></ons-back-button>croooober browser</div>
            <div class="right">
                <ons-toolbar-button ng-click='myNavigator.pushPage("favorite.html")'><ons-icon icon="ion-android-star"></ons-icon></ons-toolbar-button>
                <ons-toolbar-button ng-click='myNavigator.pushPage("page_setting_search_condition.html")'><ons-icon icon="ion-ios-search-strong"></ons-icon></ons-toolbar-button>
            </div>
        </ons-toolbar>
    
        <div class="button-bar">
            <div class="button-bar__item">
                <input type="radio" name="select_bike_or_car" value="bike" checked>
                <div class="button-bar__button">バイク検索</div>
            </div>
            <div class="button-bar__item">
                <input type="radio" name="select_bike_or_car" value="car">
                <div class="button-bar__button">車検索</div>
            </div>
        </div>

        <div id="search_item">
            <input type="search" id="search_key" class="search-input" data-clear-btn type="text" placeholder="検索したい商品を入力"/>
            
            <ons-button class="button" id="button_search" ng-click="processSearchButtonClick()" should-spin={{is_searching}}>検索</ons-button>

            <!--<div>
                <input type="radio" name="select_bike_or_car" value="bike">バイク部品/用品検索</input>
                <input type="radio" name="select_bike_or_car" value="car">車部品/用品検索</input>
            </div>-->        
        </div>

        <!--<div class="search_result_num"></div>-->

        <ons-list id="item_header_search_result" ng-repeat="item in items" ng-click="processItemSelect($index, $event)">
            <ons-list-item modifier="tappable" class="item list-item-container" datailurl="{{item.detail_url}}">
              <ons-row>
                <ons-col width="105px">
                    <div class="side-corner-tag">
                        <div ng-style="{'background-image': 'url({{item.pic_url}})'}" class="thumbnail"></div>
                        <!--<img src="{{item.pic_url}}" class="thumbnail">-->
                        <p class="{{item.is_newArrival}}"><span>新着</span></p>
                    </div>
                </ons-col>
                <ons-col>
                    <span class="tag {{item.is_new}}">新品</span>
                    <span class="tag {{item.is_old}}">中古</span>
                    <span class="tag {{item.is_junk}}">ジャンク</span>
                    <div class="title_box"><span class="item_header_id">{{item.item_number}}</span>
                    <span class="h_title">{{item.title}} </span></div>
                    
                    <ons-button modifier="quiet" id="favorite_btn" ng-click="addFavoriteItemFromHeader(event)　show('#favorite_btn')" datailurl="{{item.detail_url}}"><ons-icon icon="ion-android-star" size="28px"></ons-icon></ons-button>
                    <p class="h_price">{{item.price}}</p>   
                </ons-col>
              </ons-row>
            </ons-list-item>


        <!--<ul id="item_header_search_result" class="item list-item-container" ng-repeat="item in items" ng-click="processItemSelect($index, $event)">

            <li class="item_header_wrapper ui-li-static ui-body-inherit ui-li-has-thumb" datailurl="{{item.detail_url}}">
                <div class="thumb_box"><img src="{{item.pic_url}}" class="h_picture"></div>
                <div class="title_box"><span class="item_header_id">{{item.item_number}}</span>
                <span class="h_title">{{item.title}}</span></div>
                <span class="{{item.is_newArrival}}">新着</span>
                <span class="{{item.is_new}}">新品</span>
                <span class="{{item.is_old}}">中古</span>
                <span class="{{item.is_junk}}">ジャンク</span>
                <button id="favorite_btn" ng-click="addFavoriteItemFromHeader(event)" datailurl="{{item.detail_url}}" class="icon_btn ui-btn ui-corner-all ui-icon-star ui-btn-icon-notext ui-btn-inline">favorite</button>
                <p class="h_price">{{item.price}}</p>   
            </li>

        </ul>-->
        </ons-list>

        <ons-button id="button_search_more" class="button button--large--cta" should-spin={{is_searching_more}} ng-click="processSearchMoreButtonClick()">もっとさがす！</ons-button>

    </ons-page>
</ons-template>

<ons-template id="favorite_popover.html">
    <ons-popover direction="up down" cancelable>
        <div style="text-align: center; opacity: 0.5;">
          <p>お気に入りに登録しました</p>
        </div>
      </ons-popover>
</ons-template>


<ons-template id="detail_content.html">

    <ons-page ng-controller="ViewDetailController" id="detail_content_wrapper">
        <ons-toolbar style="background-color: #fff;">
            <div class="left"><ons-back-button></ons-back-button>croooober browser</div>
            <div class="right">
                <ons-toolbar-button ng-click='myNavigator.pushPage("favorite.html")'><ons-icon icon="ion-android-star"></ons-icon></ons-toolbar-button>
                <ons-toolbar-button ng-click='myNavigator.pushPage("page_setting_search_condition.html")'><ons-icon icon="ion-ios-search-strong"></ons-icon></ons-toolbar-button>
            </div>
        </ons-toolbar>

        <div id="d_pic">
            <!--<div id="item_img" ng-style="{'background-image': 'url({{detail.picture}})'}"></div>-->
            <ons-carousel id="item_img_carousel" var="item_img_carousel" swipeable overscrollable auto-scroll>
                <ons-carousel-item ng-repeat="item in detail.pictures">
                    <div class="item_img" ng-if="item" ng-style="{'background-image': 'url({{item}})'}"></div>
                </ons-carousel-item>
            </ons-carousel>
        </div>

        <div id="d_debug"></div>

        <ons-carousel id="thumb_carousel" var="thumb_img_carousel" swipeable overscrollable auto-scroll item-width="95px">
            <!--<ons-carousel-item ng-repeat="item in detail.pictures" ng-click="detail_thumbnail_clicked($index, $event)" >-->
            <ons-carousel-item ng-repeat="item in detail.pictures" ng-click="item_img_carousel.setActiveCarouselItemIndex($index);" >
                <div class="thumb_carousel_item" ng-if="item" ng-style="{'background-image': 'url({{item}})'}"></div>
            </ons-carousel-item>
        </ons-carousel>

        <!--<ul id="d_pictures" ng-repeat="item in detail.pictures">
            <li class="d_picture">
                <img ng-src="{{item}}" ng-click="detail_thumbnail_clicked(this)" />
            </li>
        </ul>-->
        <ul class="list item_info">
            <li class="list__item">
                <h2 id="d_title" detail_id="{{detail.id}}">{{detail.title}}</h2>
                <div class="price_area">
                    商品価格:
                    <span id="d_price">{{detail.price}}</span>
                </div>
            </li>
            <li class="list__header">商品情報</li>
            <li class="list__name">メーカー</li>
            <li class="list__item">{{detail.maker_name}}</li>
            <li class="list__name">商品ランク</li>
            <li class="list__item">{{detail.rank}}</li>
            <li class="list__name">コメント</li>
            <li class="list__item">{{detail.comment}}</li>
        </ul>

        <ons-button id="d_favorite_btn" class="button line_b_btn" onclick="addFavoriteItemFromDetail(this)"><ons-icon icon="ion-android-star"></ons-icon> お気に入りに追加</ons-button>

        <ons-row class="action">

            <ons-col class="action-col" width="20%" ng-click="myNavigator.popPage()">
              <div class="action-icon"><ons-icon icon="ion-arrow-left-c"></ons-icon></div>
              <div class="action-label">戻る</div>
            </ons-col>

            <ons-col class="action-col" id="d_delete_cache" ng-click="deleteCacheItem()">
              <div class="action-icon"><ons-icon icon="ion-trash-a"></ons-icon></div>
              <div class="action-label">キャッシュを削除</div>
            </ons-col>

            <ons-col class="action-col" id="d_button2Croooober" ng-click="openCrooooberPage()" crooooberPageUrl="{{full_url}}">
              <div class="action-icon"><ons-icon icon="ion-ios-world-outline"></ons-icon></div>
              <div class="action-label">Crooooberで見る</div>
            </ons-col>

            <ons-col class="action-col" width="20%">
              <div class="action-icon"><ons-icon icon="ion-arrow-up-c"></ons-icon></div>
              <div class="action-label">トップ</div>
            </ons-col>

        </ons-row>

        <!--
        <ons-button id="d_button2Croooober" ng-click="window.open('{{detail.full_url}}', '_system');" crooooberPageUrl="{{full_url}}">Crooooberで見る(購入する場合など)</ons-button>     
        <ons-button id="d_delete_cache" ng-click="deleteCacheItem(this)">ページのキャッシュを削除</ons-button>
        <ons-button ng-click="myNavigator.popPage()">もどる</ons-button>
        -->

    </ons-page>
</ons-template>

<!-- お気に入り一覧ページ -->
<ons-template id="favorite.html">
    <ons-page>
        <ons-toolbar>
            <div class="left"><ons-back-button></ons-back-button>croooober browser</div>
            <div class="right">
                <ons-toolbar-button><ons-icon icon="ion-android-star"></ons-icon></ons-toolbar-button>
                <ons-toolbar-button ng-click='myNavigator.pushPage("page_setting_search_condition.html")'><ons-icon icon="ion-ios-search-strong"></ons-icon></ons-toolbar-button>
            </div>
        </ons-toolbar>

        <ons-list id="item_header_search_result" ng-repeat="item in items" ng-click="processItemSelect($index, $event)">
            <ons-list-item modifier="tappable" class="item list-item-container" datailurl="{{item.detail_url}}">
              <ons-row>
                <ons-col width="105px">
                    <div class="side-corner-tag">
                      <img src="{{item.pic_url}}" class="thumbnail">
                      <p class="{{item.is_newArrival}}"><span>新着</span></p>
                    </div>
                </ons-col>
                <ons-col>
                    <span class="tag {{item.is_new}}">新品</span>
                    <span class="tag {{item.is_old}}">中古</span>
                    <span class="tag {{item.is_junk}}">ジャンク</span>
                    <div class="title_box"><span class="item_header_id">{{item.item_number}}</span>
                    <span class="h_title">{{item.title}} </span></div>
                    
                    <ons-button modifier="quiet" id="favorite_btn" ng-click="addFavoriteItemFromHeader(event)　show('#favorite_btn')" datailurl="{{item.detail_url}}"><ons-icon icon="ion-android-star" size="28px"></ons-icon></ons-button>
                    <span class="h_price">{{item.price}}</span>   
                </ons-col>
              </ons-row>
            </ons-list-item>
        </ons-list>
    </ons-page>
</ons-template>




<!-- 詳細検索ページ -->
<ons-template id="page_setting_search_condition.html">
    <ons-page ng-controller="SearchDetailConditionController" id="page_setting_search_condition">

        <ons-toolbar>
            <div class="left"><ons-back-button></ons-back-button>croooober browser</div>
            <div class="right">
                <ons-toolbar-button ng-click='myNavigator.pushPage("favorite.html")'><ons-icon icon="ion-android-star"></ons-icon></ons-toolbar-button>
                <ons-toolbar-button><ons-icon icon="ion-ios-search-strong"></ons-icon></ons-toolbar-button>
            </div>
        </ons-toolbar>

        <ul class="list">
          <li class="list__item list__item--chevron" ng-click='myNavigator.pushPage("")'><ons-icon icon="ion-bookmark"></ons-icon> 保存した条件から検索{{ts_msg}}</li>
        </ul>

        <div id="search_item">
            <input type="search" id="setting_search_condition_keyword" class="search-input" data-clear-btn type="text" placeholder="検索キーワード"/>
        </div>

        

        <!--<div class="button-bar">
            <div class="button-bar__item">
                <input type="radio" name="select_bike_or_car" value="bike" checked>
                <div class="button-bar__button">バイク検索</div>
            </div>
            <div class="button-bar__item">
                <input type="radio" name="select_bike_or_car" value="car">
                <div class="button-bar__button">車検索</div>
            </div>
        </div>
    -->

        <div class="button-bar">
            <div class="button-bar__item">
                <input id="search_condition_sort_newer" type="radio" name="search_condition_sort" value="1" checked>
                <div class="button-bar__button">新着順</div>
            </div>
            <div class="button-bar__item">
                <input id="search_condition_sort_kakakuLower" type="radio" name="search_condition_sort" value="2">
                <div class="button-bar__button">安い順</div>
            </div>
            <div class="button-bar__item">
                <input id="search_condition_sort_kakakuHigher" type="radio" name="search_condition_sort" value="3">
                <div class="button-bar__button">高い順</div>
            </div>
        </div>

        設定金額
        <div id="kakaku_option">
                <input type="text" class="text-input" id="setting_search_condition_kakaku_low" placeholder="下限" />
                ～
                <input type="text" class="text-input" id="setting_search_condition_kakaku_high" placeholder="上限" />
        </div>

        <!-- バイク用品用 -->
        <ons-list id="search_condition_bunrui_list_wrapper">
            <ons-list-header>バイクカテゴリ</ons-list-header>

            <ons-list-item modifier="tappable" id="licat">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui" checked="checked"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                (指定なし)
              </label>
            </ons-list-item>

            <ons-list-header>バイクパーツ</ons-list-header>

            <ons-list-item modifier="tappable" id="licat9010">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                マフラー
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat9015">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                外装
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat9020">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                ハンドル・ハンドル廻り
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat9025">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                メーター
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat9030">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                ステップ・スタンド
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat9035">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                足廻り
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat9040">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                駆動系
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat9045">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                ホイール・タイヤ
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat9050">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                ブレーキ
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat9055">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                電装系
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat9060">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                冷却系
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat9065">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                吸気・燃料系
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat9070">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                エンジン・フレーム
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat9075">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                その他（バイクパーツ）
              </label>
            </ons-list-item>

            <ons-list-header>バイク用品</ons-list-header>

            <ons-list-item modifier="tappable" id="licat9210">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                ヘルメット
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat9220">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                ウエア
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat9230">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                ブーツ・シューズ
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat9240">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                グローブ・ゴーグル
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat9250">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                プロテクター
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat9260">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                ツーリング用品
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat9270">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                メンテナンス
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat9280">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                ケミカル・オイル
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat9299">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                その他（バイク用品）
              </label>
            </ons-list-item>
        </ons-list>


        <!-- 車用品用 -->
        <ons-list id="search_condition_bunrui_list_wrapper_car">
            <ons-list-header>タイヤ・ホイール</ons-list-header>

            <ons-list-item modifier="tappable" id="licat1001">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                タイヤ
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat1005">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                スタッドレスタイヤ
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat2001">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                アルミホイール
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat2002">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                スチールホイール
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat2501">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                タイヤホイールセット
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat2503">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                スタッドレスタイヤホイール
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat2605">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                タイヤホイール関連
              </label>
            </ons-list-item>

            <ons-list-header>カーAV</ons-list-header>

            <ons-list-item modifier="tappable" id="licat3001">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                ヘッドユニット
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat3002">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                スピーカー
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat3003">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                アンプ
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat4001">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                カーナビ(地デジ）
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat4005">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                カーナビ(非地デジ）
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat4010">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                オンダッシュモニター
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat4015">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                インダッシュモニター
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat4020">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                モニター・地デジ
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat4025">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                DVDプレーヤー
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat4030">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                カーAVアクセサリー
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat4035">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                カーナビ(単体・その他)
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat4040">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                ETC
              </label>
            </ons-list-item>

            <ons-list-header>カスタム・チューニング</ons-list-header>

            <ons-list-item modifier="tappable" id="licat5001">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                足まわり
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat5010">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                吸気・排気系
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat5015">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                電装系
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat5020">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                バルブ・HID
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat5025">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                補強パーツ
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat5030">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                メーター系
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat5035">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                過給機系
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat5040">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                駆動系
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat5045">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                冷却系
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat5050">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                ブレーキ系
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat5055">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                ボディパーツ
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat5060">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                インテリア
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat5065">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                シート
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat5070">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                キャリア
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat5099">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                その他(カスタム・チューニング)
              </label>
            </ons-list-item>

            <ons-list-header>カー用品</ons-list-header>

            <ons-list-item modifier="tappable" id="licat7001">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                ケミカル用品
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat7010">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                メンテナンス
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat7020">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                アクセサリー
              </label>
            </ons-list-item>
            <ons-list-item modifier="tappable" id="licat7099">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui"><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                その他(カー用品)
              </label>
            </ons-list-item>
        </ons-list>

        <div id="detail_search_action">
            <ons-button id="detail_search_button" class="button--cta line_b_btn" id="detail_search_button" ng-click="processDetailSearchButtonClick()"><ons-icon icon="ion-ios-search-strong"></ons-icon>条件指定検索</ons-button>

            <ons-row class="action">
                <ons-col class="action-col" id="search_condition_clear">
                  <div class="action-icon"><ons-icon icon="ion-minus-circled"></ons-icon></div>
                  <div class="action-label">検索条件をクリア</div>
                </ons-col>

                <ons-col class="action-col" id="search_condition_save">
                  <div class="action-icon"><ons-icon icon="ion-bookmark"></ons-icon></div>
                  <div class="action-label">検索条件を保存</div>
                </ons-col>
            </ons-row>
        </div>

        <!--<ons-button id="search_condition_clear" class="button line_b_btn"><ons-icon icon="ion-minus-circled"></ons-icon> 検索条件をクリア</ons-button>-->
            
<!--　元ソース
    <div id="search_condition_wrapper">

            <div data-role="fieldcontain">
                <label for="setting_search_condition_keyword">検索キー</label>
                <input type="text" id="setting_search_condition_keyword" />
            </div>

            <div class="ui-field-contain">
                <fieldset data-role="controlgroup">
                  <legend>ソート</legend>
                  <input id="search_condition_sort_newer" name="search_condition_sort" type="radio" value="1" />
                  <label for="search_condition_sort_newer">新着順</label>
                  <input id="search_condition_sort_kakakuLower" name="search_condition_sort" type="radio" value="2" />
                  <label for="search_condition_sort_kakakuLower">価格が安い順</label>
                  <input id="search_condition_sort_kakakuHigher" name="search_condition_sort" type="radio" value="3" />
                  <label for="search_condition_sort_kakakuHigher">価格が高い順</label>
                </fieldset>
            </div>

            <div data-role="fieldcontain">

                 バイク用品用 
                <ul data-role="listview" id="search_condition_bunrui_list_wrapper">
                    <li id="licat">(指定なし)</li>
                    <li data-role="list-divider">バイクパーツ</li>
                    <li id="licat9010">マフラー</li>
                    <li id="licat9015">外装</li>
                    <li id="licat9020">ハンドル・ハンドル廻り</li>
                    <li id="licat9025">メーター</li>
                    <li id="licat9030">ステップ・スタンド</li>
                    <li id="licat9035">足まわり</li>
                    <li id="licat9040">駆動系</li>
                    <li id="licat9045">ホイール・タイヤ</li>
                    <li id="licat9050">ブレーキ</li>
                    <li id="licat9055">電装品</li>
                    <li id="licat9060">冷却系</li>
                    <li id="licat9065">吸気・燃料系</li>
                    <li id="licat9070">エンジン・フレーム</li>
                    <li id="licat9075">その他(バイクパーツ)</li>
                    <li data-role="list-divider">バイク用品</li>
                    <li id="licat9210">ヘルメット</li>
                    <li id="licat9220">ウエア</li>
                    <li id="licat9230">ブーツ・シューズ</li>
                    <li id="licat9240">グローブ・ゴーグル</li>
                    <li id="licat9250">プロテクター</li>
                    <li id="licat9260">ツーリング用品</li>
                    <li id="licat9270">メンテナンス</li>
                    <li id="licat9280">ケミカル・オイル</li>
                    <li id="licat9299">その他(バイク用品)</li>
                </ul>

                 車用品用 
                <ul data-role="listview" id="search_condition_bunrui_list_wrapper_car">
                    <li data-role="list-divider">タイヤ・ホイール</li>
                    <li id="licat1001">タイヤ</li>
                    <li id="licat1005">スタッドレスタイヤ</li>
                    <li id="licat2001">アルミホイール</li>
                    <li id="licat2002">スチールホイール</li>
                    <li id="licat2501">タイヤホイールセット</li>
                    <li id="licat2503">スタッドレスタイヤホイール</li>
                    <li id="licat2605">タイヤホイール関連</li>
                    <li data-role="list-divider">カーAV</li>
                    <li id="licat3001">ヘッドユニット</li>
                    <li id="licat3002">スピーカー</li>
                    <li id="licat3003">アンプ</li>
                    <li id="licat4001">カーナビ(地デジ）</li>
                    <li id="licat4005">カーナビ(非地デジ）</li>
                    <li id="licat4010">オンダッシュモニター</li>
                    <li id="licat4015">インダッシュモニター</li>
                    <li id="licat4020">モニター・地デジ</li>
                    <li id="licat4025">DVDプレーヤー</li>
                    <li id="licat4030">カーAVアクセサリー</li>
                    <li id="licat4035">カーナビ(単体・その他)</li>
                    <li id="licat4040">ETC</li>
                    <li data-role="list-divider">カスタム・チューニング</li>
                    <li id="licat5001">足まわり</li>
                    <li id="licat5010">吸気・排気系</li>
                    <li id="licat5015">電装系</li>
                    <li id="licat5020">バルブ・HID</li>
                    <li id="licat5025">補強パーツ</li>
                    <li id="licat5030">メーター系</li>
                    <li id="licat5035">過給機系</li>
                    <li id="licat5040">駆動系</li>
                    <li id="licat5045">冷却系</li>
                    <li id="licat5050">ブレーキ系</li>
                    <li id="licat5055">ボディパーツ</li>
                    <li id="licat5060">インテリア</li>
                    <li id="licat5065">シート</li>
                    <li id="licat5070">キャリア</li>
                    <li id="licat5099">その他(カスタム・チューニング)</li>
                    <li data-role="list-divider">カー用品</li>
                    <li id="licat7001">ケミカル用品</li>
                    <li id="licat7010">メンテナンス</li>
                    <li id="licat7020">アクセサリー</li>
                    <li id="licat7099">その他(カー用品)</li>
                </ul>
            </div>

            <div data-role="fieldcontain">
                <label for="setting_search_condition_kakaku_low">下限</label>
                <input type="text" id="setting_search_condition_kakaku_low" />

                <label for="setting_search_condition_kakaku_high">上限</label>
                <input type="text" id="setting_search_condition_kakaku_high" />
            </div>

            <button class="ui-btn" id="detail_search_button">条件指定検索</button>

        <p><a href="#page_main" data-rel="back">戻る</a></p>
        
    </div>

    <a class="square_btn ui-btn ui-nodisc-icon ui-alt-icon ui-icon-back ui-btn-icon-top" onclick="back2main()">BACK</a>
-->
</ons-page>
</ons-template>

</body>
</html>