<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <meta http-equiv="Content-Security-Policy" content="default-src *; img-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval'">

    <title>croooober browser</title>

    <link rel="stylesheet" href="lib/onsen/css/onsenui.css">
    <link rel="stylesheet" href="lib/onsen/css/onsen-css-components-blue-basic-theme.css">
    <link rel="stylesheet" href="css/item.css" />
    <link rel="stylesheet" href="css/list.css" />

    <script src="lib/onsen/js/angular/angular.js"></script>
    <script src="lib/onsen/js/angular/checklist-model.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>

    <script src="jquery-mobile/jquery-1.11.3.min.js" type="text/javascript"></script>|

    <script type="text/javascript" src="js/DomParserExtention.js"></script>
    <script src="js/commonFunctions.js"></script>
    <script src="js/storageManager.js"></script>
    <script src="js/getCrooooberData.js"></script>

    <script src="cordova.js"></script>
    <script src="js/app.js"></script>
    <script>
        ons.ready(function() {
            // onsen ready 
            //storage_manager = new StorageManager("SOFTCREAM_COLLECTION_LIST");

            //console.log("platform: " + window.device.platform);

            storageManager = new StorageManager();



        });
    </script>

    <style>
    .label_area{
        width: 30%;
        overflow: hidden;
    }
    </style>
</head>

<body>

<ons-navigator var="myNavigator" page="main.html"></ons-navigator>


<!-- Home画面　index > home -->
<ons-template id="main.html">

    <ons-page ng-controller="MainController" id="main">
    
        <div>
            <div id="search_item" data-role="fieldcontain" class="ui-hide-label">
                <label for="search_item">検索商品：</label>
                <input type="search" id="search_key" data-clear-btn type="text" placeholder="検索したい商品を入力"/>
                <ons-button id="button_search" ng-click="processSearchButtonClick()" should-spin={{is_searching}}>検索</ons-button>
            </div>

            <div>
                <input type="radio" name="select_bike_or_car" value="bike">バイク部品/用品検索</input>
                <input type="radio" name="select_bike_or_car" value="car">車部品/用品検索</input>
            </div>
        </div>

        <ul id="item_header_search_result" class="item list-item-container" ng-repeat="item in items" ng-click="processItemSelect($index, $event)">

            <li class="item_header_wrapper ui-li-static ui-body-inherit ui-li-has-thumb" datailurl="{{item.detail_url}}">
                <div class="thumb_box"><img src="{{item.pic_url}}" class="h_picture"></div>
                <div class="title_box"><span class="item_header_id">{{item.item_number}}</span>
                <span class="h_title">{{item.title}}</span></div>
                <span class="{{item.is_newArrival}}">新着</span>
                <span class="{{item.is_new}}">新品</span>
                <span class="{{item.is_old}}">中古</span>
                <span class="{{item.is_junk}}">ジャンク</span>
                <button id="favorite_btn" ng-click="addFavoriteItemFromHeader(event)" datailurl="{{item.detail_url}}" class="icon_btn ui-btn ui-corner-all ui-icon-star ui-btn-icon-notext ui-btn-inline">favorite</button>
                <p class="h_price">{{item.price}}</p>   
            </li>

        </ul>

        <ons-button id="button_search_more">もっとさがす！</ons-button>

    </ons-page>
</ons-template>



<ons-template id="detail_content.html">

    <ons-page ng-controller="ViewDetailController" id="detail_content_wrapper">

            <h2 id="d_title" detail_id="{{detail.id}}">{{detail.title}}</h2>

            <div class="price_area">
                商品価格:
                <span id="d_price">
                    {{detail.price}}
                </span>
            </div>

            <div id="d_pic">
                <div id="item_img" style="background-image: url('{{detail.picture}}')"></div>
            </div>

            <div id="d_debug"></div>

            <ul id="d_pictures" ng-repeat="item in detail.pictures">
                <li class="d_picture">
                    <img ng-src="{{item}}" ng-click="detail_thumbnail_clicked(this)" />
                </li>
            </ul>

            <div id="d_comment">
                <h3>コメント</h3>
                <div>{{detail.comment}}</div>
            </div>

            <div id="d_maker">
                <h3>メーカー</h3>
                <div>{{detail.maker_name}}</div>
            </div>

            <div id="d_rank">
                <h3>商品ランク</h3>
                <div>{{detail.rank}}</div>
            </div>

            <ons-button id="d_favorite_btn"  class="ui-btn ui-alt-icon ui-icon-star ui-btn-icon-left" onclick="addFavoriteItemFromDetail(this)">お気に入りに追加</ons-button>
            <ons-button id="d_button2Croooober"  class="ui-btn ui-alt-icon ui-icon-action ui-btn-icon-left" ng-click="window.open('{{detail.full_url}}', '_system');" crooooberPageUrl="{{full_url}}">Crooooberで見る(購入する場合など)</ons-button>
            
            <ons-button id="d_delete_cache" class="ui-btn" ng-click="deleteCacheItem(this)">ページのキャッシュを削除</ons-button>

        <ons-list modifier="inset">
            <ons-list-item>
                <ons-row>
                    {{detail.id}}
                </ons-row>
                <ons-row>
                    {{detail.id}}
                </ons-row>

        </ons-list>

            <ons-button ng-click="myNavigator.popPage()">もどる</ons-button>

    </ons-page>
</ons-template>

</body>
</html>