<!doctype html>
<html lang="en" ng-app="CrooooberBrowserApp">
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

<!--
    <meta http-equiv="Content-Security-Policy" content="default-src *; img-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
-->
<!--
    <meta http-equiv="Content-Security-Policy" content="default-src *; img-src *;">
-->
    <title>croooober browser</title>

    <link rel="stylesheet" href="lib/onsen/css/onsenui.css" />
    <link rel="stylesheet" href="lib/onsen/css/onsen-css-components-blue-basic-theme.css" />
    <link rel="stylesheet" href="css/list.css" />

    <script src="js/commonFunctions.js"></script>
    <script src="js/storageManager.js"></script>
    <script src="js/getCrooooberData.js"></script>

    <script src="lib/onsen/js/angular/angular.js"></script>
    <script src="lib/onsen/js/angular/checklist-model.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>

    <script src="jquery/jquery-1.11.3.min.js"></script>

    <script src="cordova.js"></script>
    <script src="js/app.js"></script>
</head>

<body>

<ons-navigator var="myNavigator" page="main.html"></ons-navigator>

<!-- main画面　index -->
<ons-template id="main.html">
    <ons-page ng-controller="MainController" id="main">

        <ons-toolbar>
            <div class="left"><ons-back-button></ons-back-button>　croooober browser</div>
            <div class="right">
                <ons-toolbar-button ng-click='myNavigator.pushPage("favorite.html")'><ons-icon icon="ion-android-star"></ons-icon></ons-toolbar-button>
                <ons-toolbar-button ng-click='myNavigator.pushPage("page_setting_search_condition.html")'><ons-icon icon="ion-ios-search-strong"></ons-icon></ons-toolbar-button>
            </div>
        </ons-toolbar>
    
        <div class="content_wrap">

            <div class="button-bar">
                <div class="button-bar__item">
                    <input type="radio" name="select_bike_or_car" value="bike" checked />
                    <div class="button-bar__button">バイク検索</div>
                </div>
                <div class="button-bar__item">
                    <input type="radio" name="select_bike_or_car" value="car" />
                    <div class="button-bar__button">車検索</div>
                </div>
            </div>  

            <div class="search_item_form">
                <input type="search" id="search_key" class="search_key search-input" data-clear-btn placeholder="検索したい商品を入力"/><ons-button id="button_search" class="button search_button" ng-click="processSearchButtonClick()" should-spin={{is_searching}}>検索</ons-button>   
            </div>
        </div>

<!--
        <div id="_debug_msg">
            here is debug msg area<br>
        </div>
-->

        <div id="search_result_num"></div>

        <ons-list id="item_header_search_result" ng-repeat="item in items" ng-click="processItemSelect($index, $event)">
            <ons-list-item modifier="tappable" class="item list-item-container" datailurl="{{item.detail_url}}">
              <ons-row>
                <ons-col width="105px">
                    <div class="side-corner-tag">
                        <div ng-style="{'background-image': 'url({{item.pic_url}})'}" class="thumbnail"></div>
                        <p class="{{item.is_newArrival}}"><span>新着</span></p>
                    </div>
                </ons-col>
                <ons-col>
                    <span class="tag {{item.is_new}}">新品</span>
                    <span class="tag {{item.is_old}}">中古</span>
                    <span class="tag {{item.is_junk}}">ジャンク</span>
                    <div class="title_box"><span class="item_header_id">{{item.item_number}}</span>
                    <span class="h_title">{{item.title}} </span></div>

                    <p class="h_price">{{item.price}}</p>   
                </ons-col>
              </ons-row>
            </ons-list-item>
        </ons-list>

        <div class="content_wrap">
            <ons-button id="button_search_more" class="button button--large--cta" should-spin={{is_searching_more}} ng-click="processSearchMoreButtonClick()"><ons-icon icon="ion-ios-search-strong"></ons-icon> もっとさがす！</ons-button>
        </div>

    </ons-page>
</ons-template>

<ons-template id="detail_content.html">
    <ons-page ng-controller="ViewDetailController" id="detail_content_wrapper">
        <ons-toolbar style="background-color: #fff;">
            <div class="left"><ons-back-button></ons-back-button></div>
            <!--
            <div class="right">
                <ons-toolbar-button ng-click='myNavigator.pushPage("favorite.html")'><ons-icon icon="ion-android-star"></ons-icon></ons-toolbar-button>
                <ons-toolbar-button ng-click='myNavigator.pushPage("page_setting_search_condition.html")'><ons-icon icon="ion-ios-search-strong"></ons-icon></ons-toolbar-button>
            </div>
            -->
        </ons-toolbar>

        <div id="d_pic">
            <ons-carousel id="item_img_carousel" var="item_img_carousel" swipeable overscrollable auto-scroll>
                <ons-carousel-item ng-repeat="item in detail.pictures">
                    <div class="item_img" ng-if="item" ng-style="{'background-image': 'url({{item}})'}"></div>
                </ons-carousel-item>
            </ons-carousel>
        </div>

        <ons-carousel id="thumb_carousel" var="thumb_img_carousel" swipeable overscrollable auto-scroll item-width="95px">
            <ons-carousel-item ng-repeat="item in detail.pictures" ng-click="item_img_carousel.setActiveCarouselItemIndex($index);" >
                <div class="thumb_carousel_item" ng-if="item" ng-style="{'background-image': 'url({{item}})'}"></div>
            </ons-carousel-item>
        </ons-carousel>

        <ul class="list item_info">
            <li class="list__item">
                <h2 id="d_title" detail_id="{{detail.id}}">{{detail.title}}</h2>
                <div class="price_area">
                    商品価格:
                    <span id="d_price">{{detail.price}}</span>
                </div>
            </li>
            <li class="list__header">商品情報</li>
            <li class="list__name">メーカー</li>
            <li class="list__item">{{detail.maker_name}}</li>
            <li class="list__name">商品ランク</li>
            <li class="list__item">{{detail.rank}}</li>
            <li class="list__name">コメント</li>
            <li class="list__item">{{detail.comment}}</li>
        </ul>

        <ons-button id="d_favorite_btn" class="button line_b_btn" onclick="addFavoriteItemFromDetail(this)"><ons-icon icon="ion-android-star"></ons-icon> お気に入りに追加</ons-button>

        <ons-row class="action">
            <ons-col class="action-col" width="30%" ng-click="myNavigator.popPage()">
              <div class="action-icon"><ons-icon icon="ion-arrow-left-c"></ons-icon></div>
              <div class="action-label">戻る</div>
            </ons-col>
            <ons-col class="action-col" id="d_button2Croooober" ng-click="openCrooooberPage()" crooooberPageUrl="{{full_url}}">
              <div class="action-icon"><ons-icon icon="ion-ios-world-outline"></ons-icon></div>
              <div class="action-label">Crooooberで見る</div>
            </ons-col>
            <ons-col class="action-col" width="30%" id="d_delete_cache" ng-click="deleteCacheItem()">
              <div class="action-icon"><ons-icon icon="ion-trash-a"></ons-icon></div>
              <div class="action-label">キャッシュを削除</div>
            </ons-col>            
        </ons-row>
    </ons-page>
</ons-template>


<!-- 詳細検索ページ -->
<ons-template id="page_setting_search_condition.html">
    <ons-page ng-controller="SearchDetailConditionController" id="page_setting_search_condition">

        <ons-toolbar>
            <div class="left"><ons-back-button></ons-back-button></div>
            <div class="center">詳細検索</div>
            <div class="right">
                <ons-toolbar-button ng-click='myNavigator.pushPage("favorite.html")'><ons-icon icon="ion-android-star"></ons-icon></ons-toolbar-button>
                <ons-toolbar-button><ons-icon icon="ion-ios-search-strong"></ons-icon></ons-toolbar-button>
            </div>
        </ons-toolbar>

        <ons-bottom-toolbar class="fixed_action_bar">
            <ons-row class="action">
                <ons-col class="action-col" width="70%">
                    <ons-button id="detail_search_button" class="button--cta button" ng-click="processDetailSearchButtonClick()"><ons-icon icon="ion-ios-search-strong"></ons-icon> 条件指定検索</ons-button>
                </ons-col>

                <ons-col class="action-col" id="search_condition_save" ng-click="processSaveSearchCondition()">
                  <div class="action-icon"><ons-icon icon="ion-bookmark"></ons-icon></div>
                  <div class="action-label">条件を保存</div>
                </ons-col>
            </ons-row>
        </ons-bottom-toolbar>

        <ul class="list">
          <li class="list__item list__item--chevron" ng-click="movetoSavedSearchCondition()"><ons-icon icon="ion-ios-bookmarks-outline"></ons-icon> 保存した条件から検索</li>
        </ul>

        <div class="content_wrap">
            <div class="item_name">検索対象</div>
            <div class="button-bar" ng-click="processBikeOrCarChange()">
                <div class="button-bar__item">
                    <input type="radio" name="select_bike_or_car" value="bike" checked />
                    <div class="button-bar__button">バイク検索</div>
                </div>
                <div class="button-bar__item">
                    <input type="radio" name="select_bike_or_car" value="car" />
                    <div class="button-bar__button">車検索</div>
                </div>
            </div>
            
            <div class="item_name">検索キーワード</div>
            <input type="search" id="setting_search_condition_keyword" class="search-input" placeholder="検索キーワード" />

            <div class="item_name">検索方式(and検索, or検索)</div>
            <div class="button-bar">
                <div class="button-bar__item">
                    <input type="radio" name="select_and_or" value="and" checked />
                    <div class="button-bar__button">and</div>
                </div>
                <div class="button-bar__item">
                    <input type="radio" name="select_and_or" value="or" />
                    <div class="button-bar__button">or</div>
                </div>
            </div>

            <div class="item_name">ソート</div>
            <div class="button-bar">
                <div class="button-bar__item">
                    <input id="search_condition_sort_newer" type="radio" name="search_condition_sort" value="1" checked />
                    <div class="button-bar__button">新着順</div>
                </div>
                <div class="button-bar__item">
                    <input id="search_condition_sort_kakakuLower" type="radio" name="search_condition_sort" value="2" />
                    <div class="button-bar__button">安い順</div>
                </div>
                <div class="button-bar__item">
                    <input id="search_condition_sort_kakakuHigher" type="radio" name="search_condition_sort" value="3" />
                    <div class="button-bar__button">高い順</div>
                </div>
            </div>

            <div class="item_name">設定金額</div>
            <ons-row id="kakaku_option">
                <ons-col>
                    <input type="tel" class="text-input" id="setting_search_condition_kakaku_low" placeholder="下限" />
                </ons-col>
                <ons-col width="30px">
                    ～
                </ons-col>
                <ons-col>
                    <input type="tel" class="text-input" id="setting_search_condition_kakaku_high" placeholder="上限" />
                </ons-col>
            </ons-row>

            <div class="item_name">カテゴリ</div>
        </div>

        <ons-list id="search_condition_bunrui_list_wrapper" ng-hide="is_car_serach" ng-repeat="item in b_categories">

            <ons-list-item modifier="tappable" id="{{item.value}}">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui" /><div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                {{item.name}}
              </label>
            </ons-list-item>
        </ons-list>

        <ons-list id="search_condition_bunrui_list_wrapper_car" ng-show="is_car_serach" ng-repeat="item in c_categories">

            <ons-list-item modifier="tappable" id="{{item.value}}">
              <label class="radio-button radio-button--list-item">
                <input type="radio" name="bunrui" />
                <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                {{item.name}}
              </label>
            </ons-list-item>
        </ons-list>
</ons-page>
</ons-template>



<!-- お気に入り一覧ページ -->
<ons-template id="favorite.html">
    <ons-page ng-controller="ViewFavoriteController">
        <ons-toolbar>
            <div class="left"><ons-back-button></ons-back-button></div>
            <div class="center">お気に入り</div>
            <div class="right">
                <ons-toolbar-button ng-click="checkBoxToggle()"><ons-icon icon="ion-trash-a"></ons-icon></ons-toolbar-button>
            </div>
        </ons-toolbar>

        <ons-list id="item_header_search_result" ng-repeat="item in items" ng-click="processItemSelect($index, $event)">
            <ons-list-item modifier="tappable" class="item list-item-container">
              <ons-row>
                <ons-col width="30px" ng-show="delete_switching">
                    <div class="checkbox checkbox_col">
                        <input type="checkbox" checklist-model="del.items" checklist-value="item.id"><div class="checkbox__checkmark"></div>
                    </div>
                </ons-col>
                <ons-col width="105px">
                    <div class="side-corner-tag">
                        <div ng-style="{'background-image': 'url({{item.picture}})'}" class="thumbnail"></div>
                    </div>
                </ons-col>
                <ons-col>
                    <div class="title_box" style="height: 5em;">
                        <span class="h_title">{{item.title}} </span>
                    </div> 
                    <p class="h_price">{{item.price}}</p>
                </ons-col>
              </ons-row>
            </ons-list-item>
        </ons-list>

        <ons-bottom-toolbar id="favorite_action" ng-show="delete_switching" class="fixed_action_bar">
            <ons-row class="action">
                <ons-col class="action-col" id="search_condition_save" ng-click="uncheckAll()">
                  <div class="action-icon"><ons-icon icon="ion-ios-circle-outline"></ons-icon></div>
                  <div class="action-label">全解除</div>
                </ons-col>
                <ons-col class="action-col" width="50%">
                    <ons-button class="button" ng-click="deleteRecord()" ng-class="{bg_red: del.items.length > 0 }"><ons-icon icon="ion-ios-trash-outline"></ons-icon> 削除<small>({{del.items.length}})</small></ons-button>
                </ons-col>
                <ons-col class="action-col" id="search_condition_clear" ng-click="checkAll()">
                  <div class="action-icon"><ons-icon icon="ion-ios-checkmark-outline"></ons-icon></div>
                  <div class="action-label">全選択</div>
                </ons-col>
            </ons-row>
        </ons-bottom-toolbar>
    </ons-page>
</ons-template>


<!-- 保存した検索条件一覧ページ -->
<ons-template id="saved_search_condition.html">
    <ons-page ng-controller="ViewSavedSearchConditionController">
        <ons-toolbar>
            <div class="left"><ons-back-button></ons-back-button></div>
            <div class="center">保存した検索条件</div>
            <div class="right">
                <ons-toolbar-button ng-click="checkBoxToggle()"><ons-icon icon="ion-trash-a"></ons-icon></ons-toolbar-button>
            </div>
        </ons-toolbar>

        <ons-list id="item_header_search_result" ng-repeat="item in items" ng-click="processItemSelect($index, $event)">
            <ons-list-item modifier="tappable" class="item list-item-container list__item--chevron">
              <ons-row>
                <ons-col width="30px" ng-show="delete_switching">
                    <div class="checkbox checkbox_col">
                        <input type="checkbox" checklist-model="del.items" checklist-value="item.id"><div class="checkbox__checkmark"></div>
                    </div>
                </ons-col>
                <ons-col>
                        <span class="h_title">{{item.word}} </span><br>
                        {{item.kakaku_low}} ~ {{item.kakaku_high}}<br>
                        {{item.sort}}<br>
                        {{item.connector}}<br>
                        {{item.bunrui}}<br>
                </ons-col>
              </ons-row>
            </ons-list-item>
        </ons-list>

        <ons-bottom-toolbar id="favorite_action" ng-show="delete_switching" class="fixed_action_bar">
            <ons-row class="action">
                <ons-col class="action-col" id="search_condition_save" ng-click="uncheckAll()">
                  <div class="action-icon"><ons-icon icon="ion-ios-circle-outline"></ons-icon></div>
                  <div class="action-label">全解除</div>
                </ons-col>
                <ons-col class="action-col" width="50%">
                    <ons-button class="button" ng-click="deleteRecord()" ng-class="{bg_red: del.items.length > 0 }"><ons-icon icon="ion-ios-trash-outline"></ons-icon> 削除<small>({{del.items.length}})</small></ons-button>
                </ons-col>
                <ons-col class="action-col" id="search_condition_clear" ng-click="checkAll()">
                  <div class="action-icon"><ons-icon icon="ion-ios-checkmark-outline"></ons-icon></div>
                  <div class="action-label">全選択</div>
                </ons-col>
            </ons-row>
        </ons-bottom-toolbar>
    </ons-page>
</ons-template>


</body>
</html>